# install requirements
# omit transitive dependencies (e.g. dimod, numpy, dwave-cloud-client, etc.)
dwave-system==1.35.0    # first to support 3.14 and dwave-graphs
matplotlib==3.10.5      # first to support 3.14
minorminer==0.2.21      # Requires recent find_subgraph upgrades
dwave-graphs==1
# dev requirements
reno==4.1.0
